* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(116, 107, 106);
    font-family: 'Poppins', sans-serif;
}


.containerProductos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px; 
    padding: 20px;
    justify-items: center; 
    align-items: start;
    max-width: 1200px;
    margin: 0 auto; 
}





@media (max-width: 768px) {
    .containerProductos {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
