.productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.productos:hover {
    transform: scale(1.2);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    background-color: #cdd4e9;
}


.productos img {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    border-radius: 10px;
}


.productos h2 {
    font-size: 2rem;
    color: rgb(16, 24, 92);
    margin-top: 10px;
}

.productos p {
    font-size: 16px;
    color: #555;
    margin-top: 5px;
    
}


.productos button {
    background-color: rgb(16, 24, 92);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    transition: background 0.3s;
}

.productos button:hover {
    background-color: #abb4ce;
    color: rgb(26, 18, 143);
}



.productos img {
    width: 200px;
    height: 200px; /* Ajusta la altura de la imagen */
    max-width: 100%; /* Asegura que la imagen no se desborde horizontalmente */
    max-height: 100%; /* Asegura que la imagen no se desborde verticalmente */
    object-fit: contain; /* Ajusta la imagen para que cubra el contenedor sin deformarse */
    border-radius: 8px; /* Bordes redondeados para la imagen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para la imagen */



    
}